* {
  cursor: none;
}

.main {
  transition: background-color 0.3s ease;
}

.light {
  background-color: #f3f3f3;
  transition: background-color 0.3s ease;
}

.dark {
  background-color: #121212;
  transition: background-color 0.3s ease;
}

.dark .links::before,
.dark .links::after {
  background-color: #ffffff;
}

.cursor {
  position: fixed;
  width: 25px;
  height: 25px;
  background: url("../assets/cursor.png") no-repeat center center;
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  z-index: 99999999;
}

.cursor.hovered {
  transform: translate(-50%, -50%) scale(1.1);
}

a:hover,
button:hover,
.interactive:hover {
  cursor: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
